*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.apk
*.ap_
*.dex
bin/
gen/
Thumbs.db
build/
.navigation
captures/
output.json
obj/

*/*.xcodeproj
*/*.xcworkspace
*/Pods/